# Ignore everything:
/*

# Except these directories:
!/.Xresources

# Ensuring config subfolder scanned
!.config/
.config/*

# Alacritty
!.config/alacritty
!.config/alacritty/*

# Autorandr
!.config/autorandr
!.config/autorandr/*

# i3
!.config/i3
!.config/i3/*

# i3 status
!.config/i3status
!.config/i3status/*

# rofi
!.config/rofi
!.config/rofi/*

# dunst
!.config/dunst
!.config/dunst/*

# bashrc
!.bashrc

# vim
!.vim
!.vim/*
.vim/view/

# vim dracula theme
!.vim/pack/themes/start/dracula
!.vim/pack/themes/start/dracula/*

# Adding following files:
!README.md
!.gitignore
!.config/chrome-flags.conf
!.vimrc
!.config/app-install.sh
